.color1 {
  background-color: "#FFF";
}

.color2 {
  background-color: "#F28B82";
}

.color3 {
  background-color: "#FBBC04";
}

.color4 {
  background-color: "#FFF475";
}

.color5 {
  background-color: "#CCFF90";
}

.color6 {
  background-color: "#A7FFEB";
}

.color7 {
  background-color: "#CBF0F8";
}

.color8 {
  background-color: "#AECBFA";
}

.color9 {
  background-color: "#D7AEFB";
}

.color10 {
  background-color: "#FDCFE8";
}
